@import "~bootstrap/scss/bootstrap.scss";

body {
    background-color: #272727;
    color: white;
}

.table-game {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.square {
    height: 10rem;
    width: 10rem;
    border: 3px groove white;
    font-size: 5rem;
    background-color: #626262;
}